pandas
numpy
scikit-learn
matplotlib
seaborn
pytesseract
pdf2image
chromadb
langchain
tiktoken
sentence-transformers
langchain-community
groq
python-dotenv
langchain_groq
langchain-huggingface
langchain-chroma
streamlit
streamlit-aggrid